<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<!-- 欢迎页面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
<!-- 过滤器 -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>gb2312</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>SessionCheckFilter</filter-name>
		<filter-class>filter.SessionCheckFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionCheckFilter</filter-name>
		<url-pattern>/jsp/*</url-pattern>
	</filter-mapping> 
	
<!-- 报表 -->
	<servlet>
          <servlet-name>DisplayChart</servlet-name>
          <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
	</servlet>
	<servlet-mapping>
          <servlet-name>DisplayChart</servlet-name>
          <url-pattern>/DisplayChart</url-pattern>
	</servlet-mapping>
	
<!-- 请求 -->	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Stu_SelectCourseServlet</servlet-name>
		<servlet-class>servlet.Stu_SelectCourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Stu_QueryCourseServlet</servlet-name>
		<servlet-class>servlet.Stu_QueryCourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Stu_QueryScoreServlet</servlet-name>
		<servlet-class>servlet.Stu_QueryScoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tea_EntryScore1Servlet</servlet-name>
		<servlet-class>servlet.Tea_EntryScore1Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tea_EntryScore2Servlet</servlet-name>
		<servlet-class>servlet.Tea_EntryScore2Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tea_EntryScore3Servlet</servlet-name>
		<servlet-class>servlet.Tea_EntryScore3Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tea_QueryCourse1Servlet</servlet-name>
		<servlet-class>servlet.Tea_QueryCourse1Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tea_QueryCourse2Servlet</servlet-name>
		<servlet-class>servlet.Tea_QueryCourse2Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tea_QueryScore1Servlet</servlet-name>
		<servlet-class>servlet.Tea_QueryScore1Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tea_QueryScore2Servlet</servlet-name>
		<servlet-class>servlet.Tea_QueryScore2Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Stu_ExportScoreServlet</servlet-name>
		<servlet-class>servlet.Stu_ExportScoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Tea_ExportScoreServlet</servlet-name>
		<servlet-class>servlet.Tea_ExportScoreServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>ModifyPwdServlet</servlet-name>
    <servlet-class>servlet.ModifyPwdServlet</servlet-class>
  </servlet>

	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/servlet/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Stu_SelectCourseServlet</servlet-name>
		<url-pattern>/servlet/Stu_SelectCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Stu_QueryCourseServlet</servlet-name>
		<url-pattern>/servlet/Stu_QueryCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Stu_QueryScoreServlet</servlet-name>
		<url-pattern>/servlet/Stu_QueryScoreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tea_EntryScore1Servlet</servlet-name>
		<url-pattern>/servlet/Tea_EntryScore1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tea_EntryScore2Servlet</servlet-name>
		<url-pattern>/servlet/Tea_EntryScore2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tea_EntryScore3Servlet</servlet-name>
		<url-pattern>/servlet/Tea_EntryScore3Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tea_QueryCourse1Servlet</servlet-name>
		<url-pattern>/servlet/Tea_QueryCourse1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tea_QueryCourse2Servlet</servlet-name>
		<url-pattern>/servlet/Tea_QueryCourse2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tea_QueryScore1Servlet</servlet-name>
		<url-pattern>/servlet/Tea_QueryScore1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tea_QueryScore2Servlet</servlet-name>
		<url-pattern>/servlet/Tea_QueryScore2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Stu_ExportScoreServlet</servlet-name>
		<url-pattern>/servlet/Stu_ExportScoreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tea_ExportScoreServlet</servlet-name>
		<url-pattern>/servlet/Tea_ExportScoreServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyPwdServlet</servlet-name>
    <url-pattern>/servlet/ModifyPwdServlet</url-pattern>
  </servlet-mapping>

</web-app>
